/*
CSS for My Cinema Times home page
Author: Ronak Dave
*/

body{
  background-image: url(images/starbkgrnd.gif);
  color: #ffffff;
}

.banner{
  margin: auto;
  width: 864px;
}

.nav{
  position: sticky;
  top: 0;
  background-image: url(images/starbkgrnd.gif);
  width: 1120px;
  margin: auto;
}

img.navimgs{
  height: 30px;
  width: auto;
}

.navimgs{
  margin-top: 10px;
  display: inline-block;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.text{
  width: 864px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Verdana";
  margin-top: 50px;
}

a{
  color: #e00000;
}
