/*
CSS for My Cinema Times child pages
Author: Ronak Dave
*/

body{
  background-image: url(images/starbkgrnd.gif);
  color: #ffffff;
}

.banner{
  background-image: url(images/starbkgrnd.gif);
  margin: auto;
  width: 720px;
}

.nav{
  position: sticky;
  top: 0;
  background-image: url(images/starbkgrnd.gif);
  width: 1120px;
  margin: auto;
}

img.navimgs{
  height: 30px;
  width: auto;
}

.navimgs{
  margin-top: 10px;
  display: inline-block;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.dates{
  color: #ffffff;
  font-size: 24px;
  font-family: "Verdana";
  font-weight: bolder;
  text-align: center;
}

.movieSched{
  background-color: #eeeeee;
  color: #000000;
  height: 130px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.scheduleImg{
  height: 130px;
  width: 105px;
}

.movieTitle{
  color: #0000ff;
  font-weight: bold;
  position: relative;
  left: 5px;
  top: -110px;
  font-family: "Verdana";
}

.movieText{
  position: relative;
  top: -109px;
  left: 113px;
  font-family: "Verdana";
  width: 100px;
}
